<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>LSU Parking App</title>
</head>
<body>
    <h1>Welcome to LSU Parking Lot Manager</h1>
    <a href="/availability">View Availability</a>
    <a href="/admin">Admin Page</a>
</body>
</html>
